@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@800&family=Tilt+Neon&display=swap");

.task {
  justify-content: center;
  font-family: "Tilt Neon", cursive;
  color: #1b1717;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  padding: 5px;
}
