.task_IPT {
  margin: 5%;
  padding: 10px;
  width: 350px;
  font-family: "Tilt Neon", cursive;
  color: #1b1717;
  font-size: 12px;
  font-weight: bold;
}
.taskIPT__LName {
  width: 100px;
}

.taskIPT_TName {
  width: 200px;
}
.taskIPT__LAssigned {
  width: 90%;
}

.taskIPT_TAssigned {
  width: 340px;
}
.button__toAssing {
  /* align-items: center;*/
  margin: 2px;
  appearance: none;
  background-color: #3eb2fd;
  border-radius: 100px;
  color: #ffffff;
  font-family: CircularStd, sans-serif;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.button_cancel {
  /* align-items: center;*/
  margin: 2px;
  appearance: none;
  background-color: #f31414;
  border-radius: 100px;
  color: #ffffff;
  font-family: CircularStd, sans-serif;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
