.inprogress {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 3px;
  margin: 2px;
  border: 1px solid #230c8b;
  font-family: "Tilt Neon", cursive;
  color: #1b1717;
  font-size: 12px;
  font-weight: bold;
}
.name {
  display: flex;
  flex-direction: row;
}
.assign {
  display: flex;
  flex-direction: row;
}

.taskIPT__LName {
  width: 100px;
}

.taskIPT_TName {
  width: 100px;
  border: #a8a4a4;
}
.taskIPT__LAssigned {
  width: 100px;
  border: #a8a4a4;
}
.task_IPT_button {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.button_Done {
  /* align-items: center;*/
  margin: 2px;
  width: 60px;
  appearance: none;
  background-color: #3eb2fd;
  border-radius: 70px;
  color: #ffffff;
  font-family: CircularStd, sans-serif;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
