.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Title {
  justify-content: center;
  font-family: "Tilt Neon", cursive;
  color: #1b1717;
  font-size: 24px;
  font-weight: bold;
}
.newtask {
  width: 100px;
}

.newTask__Button {
  margin: 2px;
  appearance: none;
  background-color: #3eb2fd;
  border-radius: 100px;
  color: #ffffff;
  font-family: CircularStd, sans-serif;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.kanbanlist {
  display: flex;
  flex-direction: row;
}
